.grid-auto
    padding-right: 5px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
    grid-gap: 5px
    align-items: center
    text-align: center

.grid-auto[grid-block="50"]
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))

.grid-auto[grid-block="100"]
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

.grid-auto[grid-block="150"]
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))

.grid-auto[grid-block="200"]
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))

.grid-auto[grid-block="250"]
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))

.grid-auto[grid-block="300"]
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

.grid-auto[grid-block="350"]
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))

.grid-auto[grid-block="400"]
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))

.grid-auto[grid-block="450"]
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))

.grid-auto[grid-block="500"]
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))

.grid-auto[grid-block="550"]
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr))

.grid-auto[grid-block="600"]
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr))

.grid-auto[grid-block="650"]
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr))

.grid-auto[grid-block="700"]
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr))

.grid-span-1
    grid-column: span 1
    
.grid-span-2
    grid-column: span 2
    
.grid-span-3
    grid-column: span 3

.grid-span-4
    grid-column: span 4

.grid-span-5
    grid-column: span 5

.grid-span-6
    grid-column: span 6

.grid-span-7
    grid-column: span 7

.grid-span-8
    grid-column: span 8

.grid-span-9
    grid-column: span 9

.grid-span-10
    grid-column: span 10

.grid-span-11
    grid-column: span 11

.grid-span-12
    grid-column: span 12

.grid-group
    width: 100%